*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 200vh;
  background-image: linear-gradient(rgba(49, 49, 49, 0.75),rgba(116, 116, 116, 0.75)),url("./img/4.jpg");
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: alias;
}
.navbar ul li{
  list-style: none;
  display: inline-table;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #034120;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  text-align: center;
  color: #0dc7ff;
}
.content h1{
  font-size: 100px;
  margin-top: 100px;

}
.content p{
  font-size: 30;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  margin-top: 90px;
  line-height: 30px;
  
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bolder;
  border: 2px solid #085141;
  background: #cedcd9;
  color:#063728;
  cursor:pointer;
  position: relative;
  overflow: hidden;

}
span{
  background: #085141;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;

}
button:hover span{
  width: 100;
}
button:hover{
  border: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
} 